<<<<<<< HEAD
.mint-searchbar {
    background-color: #eee !important;
}

.mint-search {
    height: 52px !important;
=======
.mint-searchbar {
    background-color: #eee !important;
}

.mint-search {
    height: 52px !important;
>>>>>>> 8014d63a0fb7c55429d04266f4c161938f951a31
}